@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*, html{
    padding: 0;
    margin: 0;
}
.mainContainer{
    display: flex;
    justify-content: center;
    padding:20px 0px;
}

.mainHeading{
    font-family: "Fira Code", serif;
    color:rgb(233, 230, 230);
    user-select: none;
}