.mainCard{
  background-color: #2b2a2a;
  text-align: center;
  padding: 30px 20px;
  width: 200px;
  border-radius:10px;
}
.mainCard h2{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.mainCard button{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: 20px;
  cursor:pointer;
}

.parentContainer{
  display: flex;
  justify-content: center;
  padding-top:50px;
  
}